.i {
    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.1);
}
.inr {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    position: relative;
}
.navContainer {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
