.r {
    position: relative;
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid #111;
}
.r ul {
    position: relative;
}

.r ul li {
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 50px;
    padding: 18px 0 18px 0;
    color: #333;
}
.r ul li:hover {
    cursor: pointer
}
.r ul li.current {
    color: #fff;
    font-weight: bold;
    bottom: 0;
    left: 0;
}
.r ul li.line {
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    position: absolute;
    background: #fff;
    height: 1px!important;
    padding: 0;
    margin: 0;
    bottom: -1px
}
.searchIcon {
    position: absolute;
    right: 68px;
    bottom: 16px;
}
.closeIconImg {
    opacity: 0;
    z-index: -1;
    display: none;
}
.closeIconImgFalse {
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    z-index: 2;
    opacity: 1;
    cursor: pointer
}
.searchIconImg {
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    z-index: 0;
    opacity: 1;
    cursor: pointer
}
.searchIconImgFalse {
    opacity: 0;
    z-index: -1;
    display: none;
}
.search {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 0;
}
.search input[type="text"] {
    color: #fff;
    background: #000;
    width: 100%;
    padding: 16px 0;
    border: 0;
    outline: 0;
    font-size: 14px;
}
.search input[type="text"]:focus {
    outline: 0;
}
